@import '../styles/_colors.scss';

.categorias{
    display: flex;
    margin-top: 16px;
    font-size: 14px;
    margin-bottom: 16px;
    color: $soft-gray-color;

    .content{
        flex-grow: 1;
    }
}