@import '../../styles/_geral.scss';

.listaProdutos {
    display: flex;
    .conteudo{
        background-color: $white-color;
        flex-grow: 1;
    }
    
    
    .divisor{
        height: 2px;
        width: 95%;
        background-color: $background-color;
    }
}


