@import '../../styles/_colors.scss';

main {
    display: flex;
    .conteudo{
        background-color: $white-color;
        flex-grow: 1;

        ul{
            margin: 0;
            padding: 0;
        }
    }
    
    
    .divisor{
        border: none;
        height:2px;
        width: 95%;
        background-color: $background-color;
    }
}


