@import '../styles/colors.scss';


.botaoVoltar{
    
    color:$soft-gray-color;
    margin-top:32px;
    margin-bottom: 32px;

    label{
        text-decoration: underline;
        cursor: pointer;
        font-size: 16px;
    }
}
